doctype html
html
  head
    title Asset Management System
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  body
    block content
